<div class="gap-4 flex justify-center tablet:gap-10 flex-wrap">
  <mat-card
    *ngFor="let p of products; trackBy: trackByProductsData"
    class="h-[22rem] shadow-none flex-row tablet:w-72 laptop:w-64 laptop:h-[25rem]"
    [class]="cardWdithPhoneViewPort"
  >
    <div class="flex justify-center h-1/3 laptop:h-1/2 desktop:h-1/2">
      <img [src]="p.imageSrc" class="w-20 object-contain pt-3 tablet:w-48" [alt]="p.title"/>
    </div>
    <div class="h-2/3 laptop:h-1/2 desktop:h-1/2 flex flex-col justify-evenly">
      <mat-card-header class="h-3/6 flex flex-col">
        <mat-card-title>
          <p class="font-bold text-sm pb-2">{{ p.title }}</p>
        </mat-card-title>
        <p class="text-sm tablet:text-base laptop:text-base desktop:text-base">{{ p.description }}</p>
      </mat-card-header>
      <mat-card-content class="pt-3 pb-0 h-2/6">
        <div class="flex flex-col justify-between mt-auto gap-2 text-sm">
          <p>À partir de <span class="text-[#f6a636] font-bold text-sm  tablet:text-base laptop:text-base desktop:text-base">{{ p.price }}</span></p>
          <button color="primary" mat-raised-button class="text-xs tablet:text-sm" (click)="addToCart()">
            Ajouter au panier
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
