<mat-card-title class="pb-5">S'identifier</mat-card-title>
<mat-card-content>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <formly-form [fields]="fields" [form]="form" [model]="model" [options]="options"></formly-form>
    <button
      class="text-xs w-fit h-fit tablet:text-sm laptop:text-md desktop:text-lg"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Se connecter
    </button>
  </form>
  <section class="flex items-center flex-col pt-8">
    <hr class="w-full"/>
    <p class="text-gray-500 mt-3 text-sm laptop:text-md">Nouveau chez Emazon ?</p>
    <button
      class="text-xs w-fit mt-2 h-fit tablet:text-sm laptop:text-md desktop:text-lg"
      color="primary"
      mat-stroked-button
      routerLink="/sign-up"
      type="submit"
    >
      Créer un nouveau compte Emazon
    </button>
  </section>
</mat-card-content>
