<div class="flex items-center justify-center relative">
  <button class="top-2/4 left-0 h-8 w-8 absolute" *ngIf="canShowPrev()" mat-mini-fab color="primary" (click)="changePage(-1)">
    <mat-icon>
      keyboard_arrow_left
    </mat-icon>
  </button>
  <div class="flex flex-nowrap overflow-hidden" [ngClass]="{'w-100': products.length <= cardsPerPage}">
    <div class="flex transition-all gap-8 pb-2" [ngStyle]="{'left': (currentIndex * (100 / cardsPerPage)) + '%'}">
      <ng-container *ngFor="let product of products | slice: currentIndex * cardsPerPage: (currentIndex + 1) * cardsPerPage">
        <app-product-card [products]="[product]"></app-product-card>
      </ng-container>
    </div>
  </div>
  <button class="top-2/4 right-0 h-8 w-8 absolute" *ngIf="canShowNext()" mat-mini-fab color="primary" (click)="changePage(1)">
    <mat-icon>
      keyboard_arrow_right
    </mat-icon>
  </button>
</div>
