  <div class="flex justify-center">
    <img src="../../../assets/carousel/phones.jpeg" alt="image avec des smartphones"/>
  </div>

  <section class="mt-10">
    <div class="flex justify-center">
      <h1 class="text-xl font-bold mb-8 tablet:text-2xl laptop:text-3xl">Nos partenaires</h1>
    </div>
    <div class="flex justify-evenly">
      <img src="../../../assets/logo/logo-google.png" alt="apple logo" class="w-12 h-[60px] tablet:w-20 h-[90px] laptop:w-20 h-[128px] desktop:w-48 h-48"/>
      <img src="../../../assets/logo/logo-xiaomi.png" alt="apple logo" class="w-12  h-[60px] tablet:w-20 h-[90px] laptop:w-20 h-[128px] desktop:w-48 h-48"/>
      <img src="../../../assets/logo/apple-logo-0.png" alt="apple logo" class="w-12 h-[60px]  tablet:w-20 h-[90px] laptop:w-20 h-[128px] desktop:w-48 h-48"/>
      <img src="../../../assets/logo/logo-samsung.png" alt="apple logo" class="w-12 h-[60px] tablet:w-20 h-[90px] laptop:w-20 h-[128px] desktop:w-48 h-48"/>
    </div>
  </section>




  <div class="fixed bottom-0 right-0 mb-4 mr-4 p-4 flex items-center">
    <button (click)="goToTop()" class="sticky bottom-3 right-1 z-10" color="primary" mat-fab>
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>
