<div class="flex justify-center">
  <img alt="image avec des smartphones" src="../../../assets/carousel/phones.jpeg"/>
</div>

<section class="mt-20 mb-20 w-full">
  <div class="flex justify-center">
    <h1 class="text-xl font-bold mb-8 tablet:text-2xl laptop:text-3xl">Nos partenaires</h1>
  </div>
  <div class="flex justify-evenly">
    <ng-container *ngFor="let logo of logoData; trackBy: trackByLogoData">
      <img [alt]="logo.alt" class="w-12 h-auto hover:scale-105 transition-all cursor-pointer tablet:w-16 laptop:w-20 desktop:w-20" [src]="logo.src" [title]="logo.tooltip"/>
    </ng-container>

  </div>
</section>
<section class="mt-10 w-full">
  <h2 class="text-xl font-bold mb-8 tablet:text-2xl laptop:text-3xl text-center">Catégories poids lourds <span class="text-gray-600 text-lg font-normal">Des appareils encore plus cool que Will Smith</span>
  </h2>
  <div class=" gap-4 flex justify-center tablet:gap-10 flex-wrap">
    <mat-card class="w-36 tablet:w-72 laptop:w-64 hover:scale-105 transition-all cursor-pointer" *ngFor="let c of categoryData; trackBy: trackByCategoryData" [title]="c.tooltip">
      <div class="flex justify-center">
        <img class="w-48 pt-3 tablet:w-56" [src]="c.imageSrc" [alt]="c.title"/>
      </div>
      <mat-card-header>
        <mat-card-title>{{c.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="pt-3">
        <p class="text-justify text-sm text-gray-600">{{c.description}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
<section class="flex justify-center mt-14 mb-20 w-full">
  <img alt="image avec des smartphones" src="../../../assets/carousel/iphone-15-pro-banner.webp" class="w-11/12 hover:cursor-pointer" title="Découvrez nos iPhones 15 "/>
</section>
<app-footer />
