<mat-card-title class="pb-5">
  <h2 class="text-2xl">S'inscrire</h2>
</mat-card-title>
<mat-card-content>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <formly-form [fields]="fields" [form]="form" [model]="model" [options]="options"></formly-form>
  </form>
  <section class="flex items-center flex-col pt-8">
    <hr class="w-full"/>
    <p class="text-gray-500 mt-3 text-sm laptop:text-md">Vous avez un compte Emazon ?</p>
    <button
      class="text-xs w-fit mt-2 h-fit tablet:text-sm laptop:text-md desktop:text-lg"
      color="primary"
      mat-stroked-button
      routerLink="./login"
      type="submit"
    >
      Se connecter
    </button>
  </section>
</mat-card-content>
