<footer class="footer-1 bg-black py-8 py-12 pb-20">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4 tablet:py-4">
      <div class="px-4 w-1/2 tablet:w-1/4 laptop:w-1/6">
        <h5 class="text-laptop font-bold mb-6 text-white">Besoin d'aide ?</h5>
        <ul class="list-none footer-links">
          <li class="mb-2 text-white">
            <a href="#" class="border-b border-solid border-transparent hover:border-[#f6a636] hover:text-[#f6a636]">Contactez-nous</a>
          </li>
          <li class="mb-2 text-white">
            <a href="#" class="border-b border-solid border-transparent hover:border-[#f6a636] hover:text-[#f6a636]">Questions fréquentes</a>
          </li>
          <li class="mb-2 text-white">
            <a href="#" class="border-b border-solid border-transparent hover:border-[#f6a636] hover:text-[#f6a636]">Nos conditions de livraisons</a>
          </li>
        </ul>
      </div>
      <div class="px-4 w-1/2 tablet:w-1/4 laptop:w-1/6 mt-0">
        <h5 class="text-laptop font-bold mb-6 text-white">À propos de Emazon</h5>
        <ul class="list-none footer-links">
          <li class="mb-2 text-white">
            <a href="#" class="border-b border-solid border-transparent hover:border-[#f6a636] hover:text-[#f6a636]">Qui sommes nous</a>
          </li>
          <li class="mb-2 text-white">
            <a href="#" class="border-b border-solid border-transparent hover:border-[#f6a636] hover:text-[#f6a636]">L'espace presse</a>
          </li>
        </ul>
      </div>
      <div class="px-4 w-1/2 tablet:w-1/4 laptop:w-1/6 mt-8 tablet:mt-0">
        <h5 class="text-laptop font-bold mb-6 text-white">Informations légales</h5>
        <ul class="list-none footer-links">
          <li class="mb-2 text-white">
            <a href="#" class="border-b border-solid border-transparent hover:border-[#f6a636] hover:text-[#f6a636]">Nos conditions de Vente</a>
          </li>
          <li class="mb-2 text-white">
            <a href="#" class="border-b border-solid border-transparent hover:border-[#f6a636] hover:text-[#f6a636]">Mentions légales</a>
          </li>
          <li class="mb-2 text-white">
            <a href="#" class="border-b border-solid border-transparent hover:border-[#f6a636] hover:text-[#f6a636]">Les garanties</a>
          </li>
          <li class="mb-2 text-white">
            <a href="#" class="border-b border-solid border-transparent hover:border-[#f6a636] hover:text-[#f6a636]">Utilisations des cookies</a>
          </li>
        </ul>
      </div>
      <div class="px-4 w-1/2 tablet:w-1/4 laptop:w-1/6 mt-8 tablet:mt-0">
        <h5 class="text-laptop font-bold mb-6 text-white">Trouvez votre magasin</h5>
        <div>
          <img src="assets/icons/france-white.svg" alt="france" class="w-20 inline-block">
        </div>
        <div class="mt-5">
          <button mat-raised-button class="text-sm bg-white hover:bg-amber-200">
            Rechercher
          </button>
        </div>
      </div>
      <div class="px-4 mt-4  laptop:w-1/6 mx-auto laptop:mt-0 laptop:ml-auto">
        <h5 class="text-laptop font-bold mb-6 text-center laptop:text-left text-white">Rejoignez nous</h5>
        <div class="flex justify-center gap-10">
          <a href="" class="flex justify-center items-center hover:scale-105">
            <img src="assets/icons/mail.png" alt="mail" title="Écrivez nous par mail" class="w-5 tablet:w-8 laptop:w-10">
          </a>
          <a href="" class="flex justify-center items-center hover:scale-105">
            <img src="assets/icons/github.png" alt="github" title="Voir le code source" class="w-5 tablet:w-8 laptop:w-10">
          </a>
          <a href="" class="flex justify-center items-center hover:scale-105">
            <img src="assets/icons/linkedin.png" alt="linkedin" title="Rejoignez nous sur Linkedin" class="w-5 tablet:w-8 laptop:w-10">
          </a>
        </div>
        <div class="mt-6">
          <p class="font-bold text-white text-xs">
            Contacter le <span  class="text-[#f6a636]">07 55 38 42 12 depuis la France</span> ou le<br/>
            <span class="text-[#f6a636]">+33 7 55 38 42 12 depuis l'étranger</span><br/>
            (numéros non surtaxés) <span class="font-thin">*hors surcoûts opérateurs</span></p>
        </div>
      </div>
    </div>
    <div class="flex items-center flex-wrap -mx-4 mt-6 pt-6 mt-12 pt-12 border-t">
      <div class=" px-4 tablet:w-1/6">
        <img src="assets/icons/ez-removebg-preview.png" alt="logo" class="w-20">
      </div>
      <div class="px-4 w-2/4 tablet:w-1/4 mt-4 tablet:mt-0">
        <h6 class="font-bold mb-2 text-white">Adresse</h6>
        <address class="not-italic mb-4 text-sm text-white">
          Marseille, Provence Alpes Côtes d'Azur<br>
          <span class="font-bold">France</span>
        </address>
      </div><div class="px-4 w-2/2 tablet:w-7/12 mt-4 tablet:mt-0">
        <h6 class="font-bold mb-2 text-white">Réalisé par</h6>
        <p class="not-italic mb-4 text-sm text-white">
          Réalisé par <span class="text-[#f6a636]">Othmane Ait Salah</span>,
          ce site e-commerce a été conçu à des <span class="text-[#f6a636]">fins pédagogiques</span>. Il n'a pas pour objectif de fonctionner comme un site e-commerce en
          activité, mais plutôt de <span class="text-[#f6a636]">servir de projet éducatif</span>
          pour mettre en pratique des compétences en développement web.</p>
      </div>
    </div>
  </div>
</footer>
