<section class="overflow-hidden h-full">
  <mat-toolbar class="w-full flex justify-between top-0" color="primary">
    <div class="flex items-center">
      <button (click)="isExpanded = !isExpanded" class="hover:bg-[#f6a636]" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="./home">
        <img class="w-16" src="../../assets/icons/ez.png" alt="logo">
      </a>
    </div>
    <div>
      <button
        class="text-xs w-fit mr-2 h-fit hover:bg-[#f6a636] tablet:text-sm laptop:text-md desktop:text-lg"
        title="Panier"
        color="accent"
        mat-icon-button
        routerLink="./cart"
      >
        <mat-icon class="text-white" >shopping_cart</mat-icon>
      </button>
      <button
        class="text-xs w-fit h-fit hover:bg-[#f6a636] tablet:text-sm laptop:text-md desktop:text-lg"
        title="Mon compte"
        color="accent"
        mat-icon-button
        routerLink="../auth/login"
      >
        <mat-icon class="text-white">person</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="h-full fixed">
    <mat-sidenav mode="side" opened="true" [ngClass]="{'hidden-important': !isExpanded, 'visible': isExpanded}" class="tablet:block">
      <mat-nav-list>
        <mat-list-item routerLink="./home">
          <span *ngIf="isExpanded" class="full-width">Accueil</span>
          <mat-icon *ngIf="!isExpanded" class="hover:text-[#f6a636]">home</mat-icon>
        </mat-list-item>
        <mat-list-item (click)="isExpanded = true">
          <form *ngIf="isExpanded" (ngSubmit)="submit()" class="h-12" [formGroup]="form">
            <formly-form [fields]="fields" [form]="form" [model]="model" [options]="options"></formly-form>
          </form>
          <mat-icon *ngIf="!isExpanded" class="hover:text-[#f6a636]">search</mat-icon>
        </mat-list-item>
        <mat-list-item (click)="showSmartphonesMenu = !showSmartphonesMenu">
          <span *ngIf="isExpanded" class="full-width">Smartphones</span>
          <mat-icon (click)="isExpanded = true" *ngIf="!isExpanded" class="hover:text-[#f6a636]">phone_iphone</mat-icon>
          <mat-icon *ngIf="isExpanded" [ngClass]="{'rotated' : showSmartphonesMenu}"
                    class="menu-button pt-1.5">
            expand_more
          </mat-icon>
        </mat-list-item>
        <div *ngIf="isExpanded" [ngClass]="{'expanded' : showSmartphonesMenu}" class="submenu">
          <a href="..." mat-list-item>Voir tout</a>
          <a href="..." mat-list-item>iPhone</a>
          <a href="..." mat-list-item>Google Pixel</a>
          <a href="..." mat-list-item>Samsung</a>
          <a href="..." mat-list-item>Xiaomi</a>
        </div>
        <mat-list-item (click)="showComputersMenu = !showComputersMenu">
          <span *ngIf="isExpanded" class="full-width">Ordinateurs</span>
          <mat-icon (click)="isExpanded = true" *ngIf="!isExpanded" class="hover:text-[#f6a636]">laptop</mat-icon>
          <mat-icon *ngIf="isExpanded" [ngClass]="{'rotated' : showComputersMenu}"
                    class="menu-button pt-1.5">
            expand_more
          </mat-icon>
        </mat-list-item>
        <div *ngIf="isExpanded" [ngClass]="{'expanded' : showComputersMenu}" class="submenu">
          <a href="..." mat-list-item>Voir tout</a>
          <mat-list-item (click)="showDesktopSubMenu = !showDesktopSubMenu">
            <span *ngIf="isExpanded" class="full-width">Bureau</span>
            <mat-icon *ngIf="isExpanded" [ngClass]="{'rotated' : showDesktopSubMenu}" class="menu-button">
              expand_more
            </mat-icon>
          </mat-list-item>
          <div *ngIf="isExpanded" [ngClass]="{'expanded' : showDesktopSubMenu}" class="submenu">
            <mat-list-item>Voir tout</mat-list-item>
            <mat-list-item>iMac</mat-list-item>
            <mat-list-item>Unité centrale</mat-list-item>
          </div>
          <mat-list-item (click)="showLaptopSubMenu = !showLaptopSubMenu">
            <span *ngIf="isExpanded" class="full-width">Portable</span>
            <mat-icon *ngIf="isExpanded" [ngClass]="{'rotated' : showLaptopSubMenu}" class="menu-button">
              expand_more
            </mat-icon>
          </mat-list-item>
          <div *ngIf="isExpanded" [ngClass]="{'expanded' : showLaptopSubMenu}" class="submenu">
            <mat-list-item>Voir tout</mat-list-item>
            <mat-list-item>Macbook</mat-list-item>
            <mat-list-item>Microsoft Surface</mat-list-item>
            <mat-list-item>Chromebook</mat-list-item>
          </div>
        </div>
        <mat-list-item (click)="showTabletsMenu = !showTabletsMenu">
          <span *ngIf="isExpanded" class="full-width hover:text-[#f6a636]">Tablettes</span>
          <mat-icon (click)="isExpanded = true" *ngIf="!isExpanded" class="hover:text-[#f6a636]">tablet_mac</mat-icon>
          <mat-icon *ngIf="isExpanded" [ngClass]="{'rotated' : showTabletsMenu}" class="menu-button pt-1.5">
            expand_more
          </mat-icon>
        </mat-list-item>
        <div *ngIf="isExpanded" [ngClass]="{'expanded' : showTabletsMenu}" class="submenu">
          <a href="..." mat-list-item>Voir tout</a>
          <a href="..." mat-list-item>iPad</a>
          <a href="..." mat-list-item>Samsung Galaxy</a>
          <a href="..." mat-list-item>Lenovo Tab</a>
        </div>
        <mat-list-item (click)="showAudioAndSoundMenu = !showAudioAndSoundMenu">
          <span *ngIf="isExpanded" class="full-width">Audio & Son</span>
          <mat-icon (click)="isExpanded = true" *ngIf="!isExpanded" class="hover:text-[#f6a636]">headset</mat-icon>
          <mat-icon *ngIf="isExpanded" [ngClass]="{'rotated' : showAudioAndSoundMenu}"
                    class="menu-button pt-1.5">
            expand_more
          </mat-icon>
        </mat-list-item>
        <div *ngIf="isExpanded" [ngClass]="{'expanded' : showAudioAndSoundMenu}" class="submenu">
          <a href="..." mat-list-item>Voir tout</a>
          <mat-list-item (click)="showHeadphonesSubMenu = !showHeadphonesSubMenu">
            <span *ngIf="isExpanded" class="full-width hover:text-[#f6a636]">Enceintes</span>
            <mat-icon *ngIf="isExpanded" [ngClass]="{'rotated' : showHeadphonesSubMenu}" class="menu-button">
              expand_more
            </mat-icon>
          </mat-list-item>
          <div *ngIf="isExpanded" [ngClass]="{'expanded' : showHeadphonesSubMenu}" class="submenu">
            <mat-list-item>Voir tout</mat-list-item>
            <mat-list-item>HomePod</mat-list-item>
            <mat-list-item>Google Home</mat-list-item>
            <mat-list-item>Amazon Alexa</mat-list-item>
          </div>
          <mat-list-item (click)="showSpeakersSubMenu = !showSpeakersSubMenu">
            <span *ngIf="isExpanded" class="full-width">Casques</span>
            <mat-icon *ngIf="isExpanded" [ngClass]="{'rotated' : showSpeakersSubMenu}" class="menu-button">
              expand_more
            </mat-icon>
          </mat-list-item>
          <div *ngIf="isExpanded" [ngClass]="{'expanded' : showSpeakersSubMenu}" class="submenu">
            <mat-list-item>Voir tout</mat-list-item>
            <mat-list-item>Airpods</mat-list-item>
            <mat-list-item>Galaxy Buds</mat-list-item>
            <mat-list-item>Dyson</mat-list-item>
          </div>
        </div>
        <mat-list-item>
          <span *ngIf="isExpanded" class="full-width">Magasins</span>
          <mat-icon (click)="isExpanded = true" *ngIf="!isExpanded" class="hover:text-[#f6a636]">place</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <section class="scroll-auto">
      <router-outlet/>
    </section>
  </mat-sidenav-container>
</section>
