@import "theme.config.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%
}

body {
  margin: 0;
  font-family: "Gill Sans", "Helvetica Neue", sans-serif;
  background-color: #efefef;
}
