@import "theme.config.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

@layer components {
  .formly-group {
    @apply flex flex-row gap-4 flex-wrap
  }
}


html, body {
  height: auto
}

html {
  scroll-behavior: smooth
}

body {
  margin: 0;
  font-family: "Gill Sans", "Helvetica Neue", sans-serif;
  background-color: #efefef;
}

:root {
  --primary-color: #d2c0c0;
  --secondary-color: #6c757d;
  --white-color: #fff;
  --success-color: #198754;
  --delete-color: #dc3545;
}

.success-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--success-color);
  --mat-snack-bar-button-color: var(--white-color);
}

.error-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--delete-color);
  --mat-snack-bar-button-color: var(--white-color);
}

.info-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--secondary-color);
  --mat-snack-bar-button-color: var(--white-color);
}
