@use '@angular/material' as mat;
@include mat.core();
$bright-navy-blue-palette: (
  50: #4682A9,
  100: #4682A9,
  200: #4682A9,
  300: #4682A9,
  400: #4682A9,
  500: #4682A9,
  600: #4682A9,
  700: #4682A9,
  800: #4682A9,
  900: #4682A9,
  A100: #4682A9,
  A200: #4682A9,
  A400: #4682A9,
  A700: #4682A9,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);
$gainsboro-palette: (
  50: #749BC2,
  100: #749BC2,
  200: #749BC2,
  300: #749BC2,
  400: #749BC2,
  500: #749BC2,
  600: #749BC2,
  700: #749BC2,
  800: #749BC2,
  900: #749BC2,
  A100: #749BC2,
  A200: #749BC2,
  A400: #749BC2,
  A700: #749BC2,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  )
);
$crimson-palette: (
  50: #A73121,
  100: #A73121,
  200: #A73121,
  300: #A73121,
  400: #A73121,
  500: #A73121,
  600: #A73121,
  700: #A73121,
  800: #A73121,
  900: #A73121,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);
$bluesky-primary: mat.define-palette($bright-navy-blue-palette, 700, 300, 900);
$bluesky-accent: mat.define-palette($gainsboro-palette, 300, 100, 500);
$bluesky-warn: mat.define-palette($crimson-palette, 700);
$bluesky-theme: mat.define-light-theme((
  color: (
    primary: $bluesky-primary,
    accent: $bluesky-accent,
    warn: $bluesky-warn,
  )
));
@include mat.all-component-themes($bluesky-theme);
