<mat-toolbar>
    <img class="w-10 mr-4" src="assets/icons/ez.png" alt="logo">
    <button
        mat-button
        mat-flat-button
        routerLink="./infos"
        class="mr-3"
    >
        <mat-icon>person</mat-icon>
        Mes infos
    </button>
    <button
        mat-button
        mat-flat-button
        routerLink="./orders"
    >
        <mat-icon>assignment</mat-icon>
        Mes commandes
    </button>
    <span class="spacer"></span>

    <button
        mat-button
        mat-flat-button
        color="accent"
        (click)="logout()"
    >
        <mat-icon>exit_to_app</mat-icon>
        Se déconnecter
    </button>
</mat-toolbar>
<ng-container>
    <router-outlet />
</ng-container>
