<mat-toolbar>
    <img class="w-10 mr-4 cursor-pointer" src="assets/icons/ez.png" alt="logo" routerLink="../marketplace/home">
    <button
        mat-button
        mat-flat-button
        routerLink="./infos"
        class="mr-3"
    >
        <mat-icon>person</mat-icon>
        Mes infos
    </button>
    <button
        mat-button
        mat-flat-button
        routerLink="./orders"
    >
        <mat-icon>assignment</mat-icon>
        Mes commandes
    </button>
    <span class="spacer"></span>
    <button
        mat-button
        mat-flat-button
        routerLink="../marketplace/home"
        class="mr-3"
    >
        <mat-icon>shopping_cart</mat-icon>
        Marketplace
    </button>
    <button
        mat-button
        mat-flat-button
        color="accent"
        (click)="logout()"
    >
        <mat-icon>exit_to_app</mat-icon>
        Se déconnecter
    </button>
</mat-toolbar>
<ng-container>
    <p>
        <mat-toolbar>
            <span class="text-lg tablet:text-2xl font-bold">Bonjour {{ userInfos() }}</span>
        </mat-toolbar>
    </p>
    <router-outlet />
</ng-container>
